<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relevant Search</title>
</head>
<body>
    <form method = "POST" action="{{url_for('calc')}}">
        <textarea id="textyouwant"  name="tyw"></textarea><br>
        <textarea id="text2youwant"  name="t2yw"></textarea><br>
        <input type="number" id="percentageyouwant" min="0" max="100" name="pyw"><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>